<html>
<head>
<style type="text/css">
    .bs-example{
        margin: 20px;
    }
</style>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand" routerLink="/">
          deltaX
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-auto" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link effect3" routerLink="/movies">Movies</a>
                <a href="#" class="nav-item nav-link effect3" routerLink="/actors">Actors</a>
                <a href="#" class="nav-item nav-link effect3" routerLink="/watchlist">Watchlist</a>
            </div>
            <form class="form-inline ml-auto">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><i class="material-icons" style="font-size:20px;padding: 0;margin: 0;vertical-align: middle;">search</i></button>
                    </div>
                </div>
            </form>&nbsp;&nbsp;&nbsp;
        </div>
    </nav>

</div>
</body>
</html>
